/* Reset & base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #241717;
    color: #7bc3db;
  }
  
  .container {
    padding: 30px;
    max-width: 1000px;
    margin: auto;
  }
  
  header {
    text-align: center;
    padding: 50px 20px;
    background-color: #241818;
    border-bottom: 2px solid #264f5d;
  }
  .profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #00bfff;
    box-shadow: 0 0 20px #00bfff;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5em;
    color: #44b2d6;
  }
  h2 {
    color: #6abcd7de;
    margin-top: 40px;
    border-bottom: 2px solid #5cb4d1;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  ul {
    list-style: square;
    padding-left: 20px;
  }
  li {
    margin-bottom: 10px;
  }
  p {
    margin-top: 10px;
    line-height: 1.6;
    color: #82d2ec;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #111111;
    color: #00bfff;
    border-top: 1px solid #00bfff;
  }